description "tribe heartbeat service"

start on started tribe-agent
stop on stopping tribe-agent

respawn

script
  {{ tribe_venv_dir }}/bin/tribe --ping
  sleep {{ tribe_heartbeat_sleep }}
end script
