description "tribe heartbeat service"

start on started tribe-agent RESULT=ok
stop on stopping tribe-agent RESULT=ok

respawn

script
  {{ tribe_venv_dir }}/bin/tribe --ping
  sleep {{ tribe_heartbeat_sleep }}
end script
